/* Maim CSS HomePage*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div ul li a {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  max-width: 1120px;
  margin: 0 auto;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}



/* NavBar Css */ 

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.navBarItens {
  display: flex;
  width: 400px;
 justify-content: space-around;
}

.navBarLogo {
  margin-left: 30px;
}

/* sidebar */

.sideBarContainer {
  margin-top: 30px;
  background-color: aliceblue;
}

.listSideBarContainer li {
  padding: 15px;
}
 
.postContainer{
  
}

.postContainer div {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  margin: 15px;
  padding: 15px;
}